<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('查询天气')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<script src="http://api.map.baidu.com/api?v=2.0&ak=y5pq8j2Otni3u77uk7BOVrp9N9STk3ND"></script>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <LI>
                                <div class="form-group">
                                    <label class="font-noraml">城市列表：</label>
                                    <select class="form-control" th:with="type=${@dict.getCityType()}">
                                        <option>所有</option>
                                        <option th:each="city : ${type}" th:text="${city.cityzh+'('+city.cityen+')'}" th:value="${city.id}"></option>
                                    </select>
                                </div>
                            </LI>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="findWeather()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                            <li> <label class="font-noraml">我的位置：<span id="myPosition">正在获取....</span></label></li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                    <div class="col-md-6">
                        <h3>天气</h3>
                        <ul id="box"></ul>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>折线图</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="graph_flot.html#">选项1</a>
                                        </li>
                                        <li><a href="graph_flot.html#">选项2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="echarts" id="echarts-line-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <h2>城市名称:<span id="rightCityName"></span></h2>
                        <div id="rightBox"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: echarts-js" />

     <script th:inline="javascript">
        var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
        var lineoption = {
            title : {
                text: '未来一周气温变化'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['最高气温','最低气温']
            },
            grid:{
                x:40,
                x2:40,
                y2:24
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['周一','周二','周三','周四','周五','周六','周日']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'最高气温',
                    type:'line',
                    data:[11, 11, 15, 13, 12, 13, 10],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                },
                {
                    name:'最低气温',
                    type:'line',
                    data:[1, -2, 2, 5, 3, 2, 0],
                    markPoint : {
                        data : [
                            {name : '周最低', value : -2, xAxis: 1, yAxis: -1.5}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        lineChart.setOption(lineoption);
        $(window).resize(lineChart.resize);

       // var editFlag = [[${@permission.hasPermi('system:city:edit')}]];
      //  var removeFlag = [[${@permission.hasPermi('system:city:remove')}]];
        var datas = [[${@dict.getType('sys_oper_type')}]];
        var prefix = ctx + "system/week";
        var layuiForm;
            function findWeather(){
                var cityId= $(".form-control").val();
                var cityName = $(".form-control option:selected").text().split("(")[0];
                $('#box').empty();
                $('#hours').empty();
                $('#rightBox').empty();
            $.ajax({
                type: 'GET',
                url: prefix +'/findCityWeather',
                data: 'cityId='+cityId,
                dataType: 'JSON',
                error: function () {
                    alert('网络错误');
                },
                success: function (res) {
                    var src="https://tianqiapi.com/api.php?style=tl&skin=pitaya&city="+cityName;
                    $('#box').append('<li>Tips: ' + res.data[0].air_tips + '</li>');
                    $('#rightBox').append("<iframe scrolling='no' src='"+src+"'frameborder='0' width='290' height='260' allowtransparency='true'></iframe>");
                    if(cityName=="所有"){
                        cityName="济南";
                    }
                    $('#rightCityName').text(cityName);
                    // 遍历数组
                 /*   for (var i = 0; i < res.data[0].hours.length; i++) {
                        $('#hours').append('<li>' + (i + 1) + ': 时间: ' + res.data[0].hours[i].day + ' 气温: ' + res.data[0].hours[i].tem + ' </li >');
                    }*/
                }
            });
            }
            //调用百度地图api
           //创建百度地图控件
           var geolocation = new BMap.Geolocation();
           geolocation.getCurrentPosition(function(r){
               if(this.getStatus() == BMAP_STATUS_SUCCESS){
                   //以指定的经度与纬度创建一个坐标点
                   var pt = new BMap.Point(r.point.lng,r.point.lat);
                   //创建一个地理位置解析器
                   var geoc = new BMap.Geocoder();
                   geoc.getLocation(pt, function(rs){//解析格式：城市，区县，街道
                       //根据所在城市查询
                       var addComp = rs.addressComponents;
                       var cityDefault = addComp.city.split("市")[0];
                       $(".form-control option").each(function(){
                           var optionVal = $(this).text().split("(")[0];
                           if(optionVal == cityDefault){
                               $(this).attr("selected",true);
                           }
                       })
                       findWeather();
                       $("#myPosition").text(addComp.city);
                   });
               }
               else {
                  alert('定位失败');
               }
           },{enableHighAccuracy: true})//指示浏览器获取高精度的位置，默认false

    </script>
     <th:block th:include="include :: footer" />
     <th:block th:include="include :: select2-js" />
     <th:block th:include="include :: bootstrap-select-js" />
</body>
</html>